name: Deploy to AWS EC2

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '6.0.x' # Ya jo bhi aapka version hai

    - name: Restore dependencies
      run: dotnet restore

    - name: Build Project
      run: dotnet build --no-restore

    - name: Status Check
      run: echo "Build Successful and Ready for Deployment"
